<h2>Log In</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-at"></i></span>
      </div>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control" %>
    </div>
  </div>

  <div class="field form-group">
    <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fas fa-key"></i></span>
    </div>
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Mot de passe", class: "form-control" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field form-group form-check">
      <%= f.check_box :remember_me, class: "form-check-input" %>
      <%= f.label :remember_me, class: "form-check-label" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Connexion", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "accounts/shared/links" %>
