<section class="mp-account-session-form">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "accounts/shared/error_messages", resource: resource %>

    <div class="field">
      <div class="mp-flex mp-flex-direction-row">
        <div class="field-prepend"><i class="fas fa-user"></i></div>
        <%= f.text_field :pseudo, autofocus: true, placeholder: "Pseudo" %>
      </div>
    </div>

    <div class="field">
      <div class="mp-flex mp-flex-direction-row">
        <div class="field-prepend"><i class="fas fa-at"></i></div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <div class="mp-flex mp-flex-direction-row">
        <div class="field-prepend"><i class="fas fa-key"></i></div>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Nouveau mot de passe" %>
      </div>
      <%= content_tag :span, "#{@minimum_password_length} caractères minimum", class: "field-info" if @minimum_password_length %>
    </div>

    <div class="field">
      <div class="mp-flex mp-flex-direction-row">
        <div class="field-prepend"><i class="fas fa-key"></i></div>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Retapez le nouveau mot de passe" %>
      </div>
    </div>

    <div class="field">
      <div class="mp-flex mp-flex-direction-row">
        <div class="field-prepend"><i class="fas fa-lock"></i></div>
        <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Mot de passe actuel" %>
      </div>
      
      <%= content_tag :span, "Mot de passe actuel nécesssaire pour le modifier", class: "field-info" %>
    </div>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>

  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, class: "mp-button-large mp-button-destroy", method: :delete %>

  <%= link_to "Back", :back %>
</section>