<%= form_for(poll, html: { class: "mp-form-polls" }, data: { controller: "polls" }) do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
    <span class="field-info">Champs requis</span>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 6, class: "mp-textarea-autosize" %>
  </div>

  
  <div class="field">
    <%= f.label :choices %>
    <%= f.hidden_field :choices, data: { target: "polls.choices", action: "change->polls#show" } %>
    <div id="poll-choices" data-target="polls.content"></div>
    <span class="field-info">Champs requis (min 2, max 5)</span>
  </div>

  <div class="field">
    <div class="mp-flex mp-flex-direction-row">
      <%= text_field_tag :search_places, "", placeholder: "Rechercher un lieu" %>
      <%= button_tag "<i class='fas fa-search'></i>".html_safe, type: "button", class: "mp-button mp-button-search", data: { reflex: "click->PollsReflex#searchPlaces" } %>
    </div>
    <div id="gmap-api" data-simplebar><div id="gmap-api-container"></div></div>
  </div>
  

  <div class="actions">
    <%= f.submit "Enregistrer" %>
  </div>

<% end %>