<section class="mp-account-session-form">
  <h2>Change your password</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "accounts/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <div class="mp-flex mp-flex-direction-row">
        <div class="field-prepend"><i class="fas fa-key"></i></div>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: "Nouveau mot de passe" %>
      </div>
      <%= content_tag :span, "#{@minimum_password_length} caractères minimum", class: "field-info" if @minimum_password_length %>
    </div>

    <div class="field">
      <div class="mp-flex mp-flex-direction-row">
        <div class="field-prepend"><i class="fas fa-key"></i></div>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Change my password" %>
    </div>
  <% end %>

  <%= render "accounts/shared/links" %>
</section>
