<section class="mp-account-session-form">
  <h2>Mot de passe oublié ?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "accounts/shared/error_messages", resource: resource %>

    <div class="field">
      <div class="mp-flex mp-flex-direction-row">
        <div class="field-prepend"><i class="fas fa-at"></i></div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Send me reset password instructions" %>
    </div>
  <% end %>

  <%= render "accounts/shared/links" %>
</section>