<!DOCTYPE html>
<html>
  <head>
    <title>MiamPoll</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta name="turbolinks-root" content="/">
    <meta name="turbolinks-cache-control" content="no-cache">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= javascript_pack_tag 'application', data: { turbolinks_track: 'reload' }, async: true %>
    <%= stylesheet_pack_tag 'application', media: 'all', data: { turbolinks_track: 'reload' } %>
  </head>

  <body data-controller="application" >
    <%= render "layouts/navbar" if account_signed_in? %>    
    <main><%= yield %></main>
  </body>
</html>
